# trigger:
# - main

# pool:
#   vmImage: 'ubuntu-latest'

# variables:
#   TF_VERSION: '1.7.5'
#   AZURE_SERVICE_CONNECTION_NAME: 'ADO'
#   TF_WORKING_DIR: '$(System.DefaultWorkingDirectory)'

# stages:
# - stage: InitPlan
#   displayName: 'Terraform Init and Plan'
#   jobs:
#     - job: InitPlanJob
#       displayName: 'Terraform Init and Plan Job'
#       steps:
#         - task: TerraformInstaller@1
#           displayName: 'Install Terraform'
#           inputs:
#             terraformVersion: 'latest'
#         - task: AzureCLI@2
#           displayName: 'Terraform Init'
#           inputs:
#             azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
#             scriptType: 'bash'
#             scriptLocation: 'inlineScript'
#             workingDirectory: '$(TF_WORKING_DIR)'
#             inlineScript: |
#               terraform init
#         - task: AzureCLI@2
#           displayName: 'Terraform Plan'
#           inputs:
#             azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
#             scriptType: 'bash'
#             scriptLocation: 'inlineScript'
#             workingDirectory: '$(TF_WORKING_DIR)'
#             inlineScript: |
#               terraform plan

# - stage: Approval
#   displayName: 'Manual Approval'
#   dependsOn: InitPlan
#   jobs:
#     - deployment: WaitForApproval
#       displayName: 'Approval Before Apply'
#       environment: 'Approvals'
#       strategy:
#         runOnce:
#           deploy:
#             steps:
#               - script: echo "Waiting for approval before proceeding to Terraform Apply"
#                 displayName: 'Approval Step'

# - stage: Apply
#   displayName: 'Terraform Apply'
#   dependsOn: Approval
#   jobs:
#     - job: ApplyJob
#       displayName: 'Terraform Apply Job'
#       steps:
#         - task: TerraformInstaller@1
#           displayName: 'Install Terraform'
#           inputs:
#             terraformVersion: 'latest'
#         - task: AzureCLI@2
#           displayName: 'Terraform Init'
#           inputs:
#             azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
#             scriptType: 'bash'
#             scriptLocation: 'inlineScript'
#             workingDirectory: '$(TF_WORKING_DIR)'
#             inlineScript: |
#               terraform init
#         - task: AzureCLI@2
#           displayName: 'Terraform Apply'
#           inputs:
#             azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
#             scriptType: 'bash'
#             scriptLocation: 'inlineScript'
#             workingDirectory: '$(TF_WORKING_DIR)'
#             inlineScript: |
#               terraform apply -auto-approve

# comments do 
trigger:
  - main
pool:
  vmImage: 'ubuntu-latest'

variables:
  TF_VERSION: '1.7.5' # Specify the Terraform version 
  AZURE_SERVICE_CONNECTION_NAME: 'ADO' # Azure service connection name
  TF_WORKING_DIR: '$(System.DefaultWorkingDirectory)' # Working directory for Terraform

stages:
  - stage: InitPlan
    displayName: 'Terraform Init and Plan'
    jobs:
      - job: TerraformPlan
        displayName: 'Terraform Init and Plan'
        steps:
          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'
          - task: AzureCLI@2
            displayName: 'Terraform Init with GIT_TOKEN'
            inputs:
              azureSubscription: 'ADO'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                export GIT_ASKPASS=true
                export GIT_TOKEN=$(GIT_TOKEN)
                export GITHUB_TOKEN=$(GIT_TOKEN)

                terraform init \
                  -backend-config="storage_account_name=saterraformstatefile001" \
                  -backend-config="container_name=tfstate" \
                  -backend-config="key=terraform.tfstate"
          # - task: TerraformTask@5
          #   displayName: 'Terraform Init'
          #   inputs:
          #     provider: 'azurerm'
          #     command: 'init'
          #     backendServiceArm: 'ADO'
          #     backendAzureRmStorageAccountName: 'saterraformstatefile001'
          #     backendAzureRmContainerName: 'tfstate'
          #     backendAzureRmKey: 'terraform.tfstate'
          # to import the resource
          # - task: AzureCLI@2
          #   inputs:
          #     azureSubscription: 'ADO'
          #     scriptType: 'bash'
          #     scriptLocation: 'inlineScript'
          #     inlineScript: |
          #       terraform init
          #       terraform import azurerm_linux_web_app.example /subscriptions/292ccf82-092b-41c5-8723-0bbfad3a4080/resourceGroups/Resource_Group_Terraform_01/providers/Microsoft.Web/sites/webapp-manual-01
          - task: TerraformTask@5
            displayName: 'Terraform Plan'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: 'ADO'

  - stage: Approval
    displayName: 'Manual Approval'
    dependsOn: InitPlan
    jobs:
      - deployment: WaitForApproval
        displayName: 'Approval Before Apply'
        environment: 'Approvals'
        strategy:
          runOnce:
            deploy:
              steps:
                - script: echo "Waiting for approval before proceeding to Terraform Apply"
                  displayName: 'Approval Step'

  - stage: Apply
    displayName: 'Apply Terraform Changes'
    dependsOn: Approval
    jobs:
      - job: TerraformApply
        displayName: 'Terraform Apply'
        steps:
          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'
          - task: AzureCLI@2
            displayName: 'Terraform Init with GIT_TOKEN'
            inputs:
              azureSubscription: 'ADO'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                export GIT_ASKPASS=true
                export GIT_TOKEN=$(GIT_TOKEN)
                export GITHUB_TOKEN=$(GIT_TOKEN)

                terraform init \
                  -backend-config="storage_account_name=saterraformstatefile001" \
                  -backend-config="container_name=tfstate" \
                  -backend-config="key=terraform.tfstate"
          # - task: TerraformTask@5
          #   displayName: 'Terraform Init'
          #   inputs:
          #     provider: 'azurerm'
          #     command: 'init'
          #     backendServiceArm: 'ADO'
          #     backendAzureRmStorageAccountName: 'saterraformstatefile001'
          #     backendAzureRmContainerName: 'tfstate'
          #     backendAzureRmKey: 'terraform.tfstate'
          - task: TerraformTask@5
            displayName: 'Terraform Plan'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: 'ADO'
          - task: TerraformTask@5
            displayName: 'Terraform Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              environmentServiceNameAzureRM: 'ADO'
    

