trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  TF_VERSION: '1.7.5'
  AZURE_SERVICE_CONNECTION_NAME: 'ADO'
  TF_WORKING_DIR: '$(System.DefaultWorkingDirectory)'

stages:
- stage: InitPlan
  displayName: 'Terraform Init and Plan'
  jobs:
    - job: InitPlanJob
      displayName: 'Terraform Init and Plan Job'
      steps:
        - task: TerraformInstaller@1
          displayName: 'Install Terraform'
          inputs:
            terraformVersion: 'latest'
        - task: AzureCLI@2
          displayName: 'Terraform Init'
          inputs:
            azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            workingDirectory: '$(TF_WORKING_DIR)'
            inlineScript: |
              terraform init
        - task: AzureCLI@2
          displayName: 'Terraform Plan'
          inputs:
            azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            workingDirectory: '$(TF_WORKING_DIR)'
            inlineScript: |
              terraform plan
        - publish: $(TF_WORKING_DIR)/terraform.tfstate
          artifact: tfstate

- stage: Approval
  displayName: 'Manual Approval'
  dependsOn: InitPlan
  jobs:
    - deployment: WaitForApproval
      displayName: 'Approval Before Apply'
      environment: 'Approvals'
      strategy:
        runOnce:
          deploy:
            steps:
              - script: echo "Waiting for approval before proceeding to Terraform Apply"
                displayName: 'Approval Step'

- stage: Apply
  displayName: 'Terraform Apply'
  dependsOn: Approval
  jobs:
    - job: ApplyJob
      displayName: 'Terraform Apply Job'
      steps:
        - download: current
          artifact: tfstate
        - task: TerraformInstaller@1
          displayName: 'Install Terraform'
          inputs:
            terraformVersion: 'latest'
        - task: AzureCLI@2
          displayName: 'Terraform Apply'
          inputs:
            azureSubscription: '$(AZURE_SERVICE_CONNECTION_NAME)'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            workingDirectory: '$(TF_WORKING_DIR)'
            inlineScript: |
              cp $(Pipeline.Workspace)/tfstate/terraform.tfstate $(TF_WORKING_DIR)/terraform.tfstate
              terraform apply -auto-approve